*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

.container-1200 {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: 100%;
}

/* FINE LAYOUT */

/* INIZO HEADER */
header {
    background-color: #0084fd;
}

.container-header {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.logo {
    width: 50%;
    background-color: rgba(177, 66, 66, 0.8);
    height: 6rem;
}

.menu-mobile {
    width: 50%;
    background-color: rgba(66, 177, 94, 0.8);
    text-align: right;
    height: 6rem;
}

.menu-desktop {
    display: none;
}
/* FINE HEADER  */

.jumbotron {
    padding: 4rem 2rem;
}

.jumbotron .col-66 {
    background-color: lightblue;
    height: 35rem;
    border-radius: 4%;
}

.jumbotron .col-33 {
    background-color: lightblue;
    height: 35rem;
    margin-top: 2rem;
    border-radius: 4%;
}



/* DISPLAY DESKTOP */

@media screen and (min-width: 481px) {
        
        .col-33 {
            width: calc(100% / 3 - 2rem);
        }

        .jumbotron .col-33:first-child {
            width: calc(100% / 1.5 - 2rem);
        }
        
        .jumbotron .col-33 {
            background-color: lightblue;
            height: 35rem;
            border-radius: 4%;
        }

        .jumbotron .col-66 ,.jumbotron .col-33 {
            margin:  2rem 1rem;
        }
        

}


/* DISPLAY TABLET */

@media screen and (min-width: 769px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
        width: 50%;
        background-color: rgba(66, 177, 171, 0.8);
        text-align: right;
        height: 6rem;
    }

    .col-33 {
        width: calc(100% / 3 - 2rem);
    }

    .jumbotron .col-33:first-child {
        flex-basis: auto;
    }
    
    .jumbotron .col-33 {
        background-color: lightblue;
        height: 35rem;
        border-radius: 4%;
    }

    .jumbotron .col-66 ,.jumbotron .col-33 {
        margin:  2rem 1rem;
    }
    

}