*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

.container-1200 {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

/* FINE LAYOUT */

/* INIZO HEADER */
header {
    background-color: #0084fd;
}

.container-header {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    color: white;
}

.logo {
    width: 20%;
}

.logo img {
    width: 8rem;
    margin: 1rem 2rem;

}

.menu-mobile {
    width: 50%;
    text-align: right;
    font-size: 3rem;
    margin: auto 2rem;
}

.menu-desktop {
    display: none;
}
/* FINE HEADER  */

/* INIZIO JUMBOTRON */
.jumbotron {
    padding: 4rem 2rem;
}

.jumbotron .col {
    background-color: #b5ddff;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 0 2.5rem;
}

.jumbotron .content {
    text-align: center;
}

.jumbotron .title {
    color: #0084fd;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.jumbotron i {
    font-size: 4rem;
    color: #0084fd;
    margin-top: 1.5rem;
}

.jumbotron p {
    line-height: 1.7;
    margin-bottom: 2rem;
}

.jumbotron a {
    text-decoration: none;
    color: white;
    background-color: #0084fd;
    font-size: 1.5rem;
    padding: 0.5rem 3.5rem;
    border-radius: 20px;
}

.jumbotron img {
    margin-top: 2rem;
    display: block;
    max-width: 250px;
}

.jumbotron .col:first-child .content {
    text-align: left;
}

/* FINE JUMBOTRON */

/* INIZIO PLANNING SECTION */

.planning {
    background-color: #9792e4;
}

.planning .container-1200 {
    padding: 4rem 3rem;
}

.planning .col-left {
    margin-bottom: 3rem;
    color: white;
}

.planning .col-left img {
    width: 100%;
    margin-bottom: 5rem;
}

.planning .col-left h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.planning .col-left p {
    line-height: 1.5;
    /* font-size: 1rem; */
}

.planning .col-right {

    background-color: white;
    border-radius: 2rem;
    padding: 2rem 3rem;
    text-align: center;
}

.planning .col-right img {
    display: block;
    width: 70%;
    margin: 1rem auto;
}

.planning .col-right h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.planning .col-right p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.planning .col-right i {
    background-color: #9792e4;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}


/* FINE PLANNING SECTION */

/* INIZIO PARTNERS SECTION */

.partners .container-1200 {
    padding: 4rem 2rem;
}

.partners .title-section {
    text-align: center;
    padding: 1rem;
}

.partners .title-section div {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.partners .title-section .title {
    color: #9792e4;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.partners .title-section p {
    font-size: 17px;
}

.partners .col {
    background-color: #9792e4;
    margin-top: 4rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.partners .col img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
}

.partners .col p {
    color: white;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.partners .col span {
    font-size: 20px;
}

.partners .col h4 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* FINE PARTNERS SECTION */

/* INIZIO BENEFITS SECTION */
.benefits .title-section {
    text-align: center;
}

.benefits .title-section h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.benefits {
    background-color: #9792e4;
}

.benefits .container-1200 {
    padding: 4rem 2rem;
}

.benefits .col {
    background-color: white;
    margin-top: 4rem;
    padding: 2.5rem 3.5rem;
    border-radius: 2rem;

}

.benefits .number {
    color: #9792e4;
    font-size: 6rem;
    margin-bottom: 1.5rem;
}

.benefits h3 {
    color: #9792e4;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.benefits p {
    color: grey;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.benefits button {
    appearance: none;
    display: inline-block;
    text-decoration: none;
    padding: 0.6rem 3rem 0.7rem;
    background-color: #9792e4;
    color: whitesmoke;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.5rem;
} 

/* FINE BENEFITS SECTION */

/* INIZIO ABOUT SECTION */

.about .container-1200 {
    padding: 4rem 2rem;
}

.about .col-left {
    margin-bottom: 3rem;
}

.about .col-left h2{
    color: #9792e4;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about .col-left p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.about img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
}

.about .col-right div{
    color: #9792e4;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.about .col-right button {
    appearance: none;
    display: inline-block;
    text-decoration: none;
    padding: 0.6rem 2rem 0.7rem;
    background-color: #9792e4;
    color: whitesmoke;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
}

/* FINE ABOUT SECTION */

/* INIZIO GET STARTED SECTION */

.get-started {
    background-color: #9792e4;
    padding: 3rem;
}

.get-started .col {
    width: 100%;
    margin: auto;
}

.get-started .content {
    text-align: center;
    color: white;
}

.get-started .content div {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}

.get-started .content h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.get-started .content h2 {
    font-size: 6rem;
    color: #fdc15f;
    margin-bottom: 2rem;
}

.get-started .content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.get-started .content button {
    appearance: none;
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 4rem 1.5rem;
    background-color: white;
    color: #9792e4;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.get-started .content .copyright {
    font-size: 1rem;
}

/* FINE GET STARTED SECTION */


/* FOOTER  */

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 3rem;
    line-height: 1.5;
    font-size: 1.3rem;
}

.container-footer {
    margin: auto;
}

footer p {
    margin-bottom: 2rem;
}

footer span {
    text-decoration: underline;
    color: #837fc1;
}

/* FINE FOOTER */

/* DISPLAY tABLET */

@media screen and (min-width: 576px) {
    /* JUMBOTRON */
    .jumbotron .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }
        
    .jumbotron .col {
        width: calc(100% / 3 - 2rem);
    }

    .jumbotron .col:first-child {
        width: calc(100% / 1.5 - 2rem);
        
    }

    .jumbotron .col {
        margin:  2rem 1rem;
    }

    /* PARTNERS */

    .partners .col {
        flex-direction: row;
        text-align: left;
    }

    .partners .col img {
        margin-right: 1.5rem;
    }

    .partners .col .content {
        margin: auto;
    }
        
    /* BENEFITS */
    .benefits .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .benefits .col {
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    /* ABOUT */
    .benefits .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .about .col-left {
        width: calc(60% - 1rem);
        margin-right: 1rem;
    }
    
    .about .col-right {
        width: 40%;
    }

    .get-started .col {
        width: 80%;
    }

    .container-footer {
        width: 80%;
    }
    

}


/* DISPLAY DESKTOP */

@media screen and (min-width: 992px) {


    /* HEADER  */
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
        width: 80%;
        text-align: right;
        margin: 2rem 0;
    }

    .menu-desktop ul {
        list-style-type: none;
    }
    
    .menu-desktop li {
        display: inline-block;
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    .menu-desktop li a {
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 10px 15px;
        border-radius: 20px;
        margin-right: 0;
    }

    /* JUMBOTRON  */
    .jumbotron .col:first-child {
        display: flex;
        justify-content: space-between;
    }

    .jumbotron .col:first-child .content{
        width: 50%;
    }

    /* PLANNING SECTION */

    .planning .row {
        gap: 5rem;
    }
    
    .planning .col {
        width: calc(50% - 5rem);
    }

    .planning .col-right {
        align-self: flex-end;
    }

    .planning .col-left img {
        width: 100%;
        margin-bottom: 2rem;
    }

    /* BENEFITS */
        .benefits .col {
        width: calc(100% / 3 - 2rem);
    }

    /* ABOUT */
    .benefits .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .about .col-left {
        width: calc(70% - 2rem);
        margin-right: 2rem;
        margin-bottom: 0;
    }
    
    .about .col-right {
        width: 30%;
    }

    .about .col-right {
        padding: 0 3rem 0 ;
    }
    
    /* GET STARTED */
    .get-started .col {
        width: 60%;
        margin: auto;
    }

    .container-footer {
        width: 60%;
    }
      

}