*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

.container-1200 {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

/* FINE LAYOUT */

/* INIZO HEADER */
header {
    background-color: #0084fd;
}

.container-header {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    color: white;
}

.logo {
    width: 20%;
}

.logo img {
    width: 8rem;
    margin: 1rem 2rem;

}

.menu-mobile {
    width: 50%;
    text-align: right;
    font-size: 3rem;
    margin: auto 2rem;
}

.menu-desktop {
    display: none;
}
/* FINE HEADER  */

/* INIZIO JUMBOTRON */
.jumbotron {
    padding: 4rem 2rem;
}

.jumbotron .col {
    background-color: #b5ddff;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 0 2.5rem;
}

.jumbotron .content {
    text-align: center;
}

.jumbotron .title {
    color: #0084fd;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.jumbotron i {
    font-size: 4rem;
    color: #0084fd;
    margin-top: 1.5rem;
}

.jumbotron p {
    line-height: 1.7;
    margin-bottom: 2rem;
}

.jumbotron a {
    text-decoration: none;
    color: white;
    background-color: #0084fd;
    font-size: 1.5rem;
    padding: 0.5rem 3.5rem;
    border-radius: 20px;
}

.jumbotron img {
    margin-top: 2rem;
    display: block;
    max-width: 250px;
}

.jumbotron .col:first-child .content {
    text-align: left;
}

/* FINE JUMBOTRON */

/* INIZIO PLANNING SECTION */

.planning {
    background-color: #9792e4;
}

.planning .container-1200 {
    padding: 4rem 3rem;
}

.planning .col {
    /* border: 1px solid black; */
}

.planning .col-left {
    margin-bottom: 3rem;
    color: white;
}

.planning .col-left img {
    width: 100%;
    margin-bottom: 5rem;
}

.planning .col-left h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.planning .col-left p {
    line-height: 1.5;
    /* font-size: 1rem; */
}

.planning .col-right {

    background-color: white;
    border-radius: 2rem;
    padding: 2rem 3rem;
    text-align: center;
}

.planning .col-right img {
    display: block;
    width: 70%;
    margin: 1rem auto;
}

.planning .col-right h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.planning .col-right p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.planning .col-right i {
    background-color: #9792e4;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}


/* FINE PLANNING SECTION */

/* INIZIO PARTNERS SECTION */

.partners .container-1200 {
    padding: 4rem 2rem;
}

.partners .col {
    background-color: #9792e4;
    height: 15rem;
    margin-top: 4rem;
    border-radius: 3rem;
}
/* FINE PARTNERS SECTION */

/* INIZIO BENEFITS SECTION */

.benefits {
    background-color: #9792e4;
}

.benefits .container-1200 {
    padding: 4rem 2rem;
}

.benefits .col {
    background-color: white;
    height: 25rem;
    margin-top: 4rem;
    border-radius: 3rem;
}

/* FINE BENEFITS SECTION */

/* INIZIO ABOUT SECTION */

.about .container-1200 {
    padding: 4rem 2rem;
}

.about .col {
    background-color: silver;
    height: 35rem;
    border: 1px solid black;
}

.about .col-left {
    margin-bottom: 3rem;
}



/* FINE ABOUT SECTION */


/* DISPLAY tABLET */

@media screen and (min-width: 576px) {
    /* JUMBOTRON */
    .jumbotron .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }
        
    .jumbotron .col {
        width: calc(100% / 3 - 2rem);
    }

    .jumbotron .col:first-child {
        width: calc(100% / 1.5 - 2rem);
        
    }

        
    .jumbotron .col {
        margin:  2rem 1rem;
    }

    /* BENEFITS */
    .benefits .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .benefits .col {
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    /* ABOUT */
    .benefits .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .about .col-left {
        width: calc(60% - 1rem);
        margin-right: 1rem;
    }
    
    .about .col-right {
        width: 40%;
    }
    

}


/* DISPLAY DESKTOP */

@media screen and (min-width: 992px) {


    /* HEADER  */
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
        width: 80%;
        text-align: right;
        margin: 2rem 0;
    }

    .menu-desktop ul {
        list-style-type: none;
    }
    
    .menu-desktop li {
        display: inline-block;
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    .menu-desktop li a {
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 10px 15px;
        border-radius: 20px;
        margin-right: 0;
    }

    /* JUMBOTRON  */
    .jumbotron .col:first-child {
        display: flex;
        justify-content: space-between;
    }

    .jumbotron .col:first-child .content{
        width: 50%;
    }

    /* PLANNING SECTION */

    .planning .row {
        gap: 5rem;
    }
    
    .planning .col {
        width: calc(50% - 5rem);
    }

    .planning .col-right {
        align-self: flex-end;
    }

    .planning .col-left img {
        width: 100%;
        margin-bottom: 2rem;
    }

    /* BENEFITS */
        .benefits .col {
        width: calc(100% / 3 - 2rem);
    }

    /* ABOUT */
    .benefits .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .about .col-left {
        width: calc(70% - 2rem);
        margin-right: 2rem;
        margin-bottom: 0;
    }
    
    .about .col-right {
        width: 30%;
    }
      

}